@import '/styles/foundation.scss';

.collectionListContainer {
  padding: 45px 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: $primaryBackground;
  height: calc(100vh - 84px);
  align-content: flex-start;
}

.CardPetCollectionListLayout {
  align-content: flex-start;
}