@import 'styles/foundation.scss';

@mixin OvalBtn{
  button {
    width: 90px;
    height: 40px;
    margin: 0;
    box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
    border-radius: 14px;
  }
}

@mixin squareBtn {
  height: 90px;

  & Button:last-child {
    position: absolute;
  }
}

.SearchArea {
  background: $primaryBackground_sorter;
  width: 413px;
  padding: 18.47px 35px 47px 88px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
}

.catOrDog {
  @include squareBtn;
}

.gender {
  @include squareBtn;
}

.age {
  @include OvalBtn;

  Button {
    margin-right: 10px;
  }
}

.color {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: auto auto;
  gap: 10px;

  @include OvalBtn;
}

.togglebtn {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;

  span {
    margin: 0;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $primaryPink;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $primaryPink;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.submit {
  button {
    width: 290px;
    height: 50px;
    margin: 25px 0 0;
    box-shadow: 0px 2px 7px rgba(10, 10, 10, 0.07);
    border-radius: 16px;
  }
}
