  @import 'styles/foundation.scss';

.Header {
  display: flex;
  justify-content: space-between;

  .logo {
    margin: 10px auto 10px 90px;
  }

  .navigator {
    display: flex;
    margin: 15px 80px 15px auto;

    div {
      @include hover {
          color: $primaryPink;
          cursor: pointer;
      }
    }
  }
}